.swp
.classpath
.project
.settings
scripts/tmp
scripts/proxydb
target/
.idea
*.iml
*.war
.DS_Store
proxyui/plugins/
h2proxydb/
proxyui/seleniumSslSupport/
proxyui/backup-uploaded.json
proxyui/tomcat.ks
proxyui/tmp
.gradle
**/build/*
tmp/*
*.ks
*.override.yml