.swp
.classpath
.project
.settings
scripts/tmp
scripts/proxydb
target/
.idea
*.iml
*.war
.DS_Store
proxyui/plugins/
h2proxydb/
proxyui/seleniumSslSupport/
proxyui/backup-uploaded.json
proxyui/last-restored-db.zip
proxyui/tomcat.ks
proxyui/tmp
proxyui/null
.gradle
*/build/*
