body {
    background-color: #3E3E3E;
    padding: 20px;
}

.center
{
    margin-left: auto;
    margin-right: auto;
}

.label-small
{
    font-size: 50%;
    vertical-align: middle;
}

.reorderbox
{
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    resize: vertical;
}

.ui-widget-content .selectedRow {
    color: blue;
}

.ui-jqgrid .ui-jqgrid-bdiv {
    overflow-x: hidden;
}

.paddedtable td {
    padding: 10px;
}
